@font-face {
  font-family: 'HarmonyOS';
  font-display: swap;
  src: url('/fonts/HarmonyOS_Sans_SC_Black.ttf') format("truetype");
  src: url('/fonts/HarmonyOS_Sans_TC_Black.ttf') format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liuyan-:before {
  content: "\e60d";
}

.icon-xiewenzhang:before {
  content: "\e645";
}

.icon-wodezuhe:before {
  content: "\e713";
}

.icon-ziyuan:before {
  content: "\e61a";
}

.icon-tupian-:before {
  content: "\e641";
}

.icon-15film:before {
  content: "\e62a";
}

.icon-shejiao:before {
  content: "\efc7";
}

.icon-yingyu:before {
  content: "\e607";
}

.icon-tongxinsuo:before {
  content: "\e60c";
}

.icon-fabu-:before {
  content: "\e6af";
}

.icon-fenlei-:before {
  content: "\e602";
}

.icon-heart:before {
  content: "\e600";
}

.icon-mianxingshuxie:before {
  content: "\e6c2";
}

.icon-youqinglianjie:before {
  content: "\e614";
}

.icon-shijian:before {
  content: "\e6c8";
}

.icon-shouye:before {
  content: "\e6c7";
}

