#article-container a:not(.headerlink):not(.cf-friends-link):hover {
    color: var(--anzhiyu-white);
    background: var(--anzhiyu-theme);
    box-shadow: var(--anzhiyu-shadow-lightblack);
    border-bottom: solid 2px var(--anzhiyu-lighttext);
    border-radius: .25em;
    text-decoration: none;
}

#article-container a:not(.headerlink):not(.cf-friends-link):hover {
    border-bottom: solid 2px var(--anzhiyu-lighttext);
    color: var(--anzhiyu-fontcolor);
    text-decoration: none;
    border-radius: .25em;
}

#post #article-container a:not(a[data-fancybox]), #page #article-container a:not(img):not(.flink-list-item>a):not(a[data-fancybox]):not(#cf-container a) {
    border-bottom: 2px solid var(--anzhiyu-lighttext);
    font-weight: 700;
    color: var(--anzhiyu-fontcolor);
    padding: 0 .2em;
    text-decoration: none;
    box-shadow: var(--anzhiyu-shadow-lightblack);
    border-radius: .25em;
}
#post .post-copyright-cc-info {
    color: #49b1f5;
}
:root {
    --global-font-size: 17px;
    --global-bg: #fff;
    --font-color: #4c4948;
    --hr-border: #9db7fe;
    --hr-before-color: #769bfd;
    --search-bg: #f6f8fa;
    --search-input-color: #4c4948;
    --search-result-title: #4c4948;
    --preloader-bg: #37474f;
    --preloader-color: #fff;
    --tab-border-color: #f0f0f0;
    --tab-botton-bg: #f0f0f0;
    --tab-botton-color: #1f2d3d;
    --tab-button-hover-bg: #dcdcdc;
    --tab-button-active-bg: #fff;
    --card-bg: #fff;
    --sidebar-bg: #f6f8fa;
    --btn-hover-color: #ff7242;
    --btn-color: #fff;
    --btn-bg: #3b70fc;
    --text-bg-hover: rgba(59,112,252,0.7);
    --light-grey: #eee;
    --dark-grey: #cacaca;
    --white: #fff;
    --text-highlight-color: #1f2d3d;
    --blockquote-color: #6a737d;
    --blockquote-bg: rgba(59,112,252,0.1);
    --reward-pop: #f5f5f5;
    --toc-link-color: #666261;
    --card-box-shadow: 0 3px 8px 6px rgba(7,17,27,0.05);
    --card-hover-box-shadow: 0 3px 8px 6px rgba(7,17,27,0.09);
    --pseudo-hover: #ff7242;
    --headline-presudo: #a0a0a0;
    --scrollbar-color: #3b70fc
}

body {
    position: relative;
    min-height: 100%;
    background: var(--global-bg);
    color: var(--font-color);
    font-size: var(--global-font-size);
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Helvetica Neue',Lato,Roboto,'PingFang SC','Microsoft YaHei',sans-serif;
    line-height: 2;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color)
}

::-webkit-scrollbar-track {
    background-color: transparent
}

input::placeholder {
    color: var(--font-color)
}

.table-wrap {
    overflow-x: scroll;
    margin: 0 0 20px
}

table {
    display: table;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    empty-cells: show
}

table thead {
    background: rgba(153,169,191,.1)
}

table td,table th {
    padding: 6px 12px;
    border: 1px solid var(--light-grey);
    vertical-align: middle
}


::selection {
    background: #3b70fc;
    color: #f7f7f7
}

button {
    padding: 0;
    outline: 0;
    border: none;
    background: 0 0;
    cursor: pointer;
    touch-action: manipulation
}

a {
    color: var(--anzhiyu-fontcolor);
    text-decoration: none;
    word-wrap: break-word;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
    overflow-wrap: break-word
}

a:hover {
    color: #3b70fc
}

.is-center {
    text-align: center
}

.copy-true {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

:root {
    --hl-color: #eff;
    --hl-bg: #212121;
    --hltools-bg: #1c1c1c;
    --hltools-color: rgba(238,255,255,0.8);
    --hlnumber-bg: #212121;
    --hlnumber-color: rgba(238,255,255,0.5);
    --hlscrollbar-bg: #353535;
    --hlexpand-bg: linear-gradient(180deg, rgba(33,33,33,0.6), rgba(33,33,33,0.9))
}

figure.highlight table {
    scrollbar-color: var(--hlscrollbar-bg) transparent
}

figure.highlight table::-webkit-scrollbar-thumb {
    background: var(--hlscrollbar-bg)
}

figure.highlight pre .deletion {
    color: #bf42bf
}

figure.highlight pre .addition {
    color: #105ede
}

figure.highlight pre .meta {
    color: #c792ea
}

figure.highlight pre .comment {
    color: #969896
}

figure.highlight pre .attribute,figure.highlight pre .css .class,figure.highlight pre .css .id,figure.highlight pre .css .pseudo,figure.highlight pre .html .doctype,figure.highlight pre .regexp,figure.highlight pre .ruby .constant,figure.highlight pre .tag .name,figure.highlight pre .variable,figure.highlight pre .xml .doctype,figure.highlight pre .xml .pi,figure.highlight pre .xml .tag .title {
    color: #ff5370
}

figure.highlight pre .tag {
    color: #89ddff
}

figure.highlight pre .command,figure.highlight pre .constant,figure.highlight pre .literal,figure.highlight pre .number,figure.highlight pre .params,figure.highlight pre .preprocessor {
    color: #f78c6c
}

figure.highlight pre .built_in {
    color: #ffcb6b
}

figure.highlight pre .css .rules .attribute,figure.highlight pre .formula,figure.highlight pre .header,figure.highlight pre .inheritance,figure.highlight pre .number,figure.highlight pre .ruby .class .title,figure.highlight pre .ruby .symbol,figure.highlight pre .special,figure.highlight pre .string,figure.highlight pre .value,figure.highlight pre .xml .cdata {
    color: #c3e88d
}

figure.highlight pre .css .hexcolor,figure.highlight pre .keyword,figure.highlight pre .title {
    color: #89ddff
}

figure.highlight pre .coffeescript .title,figure.highlight pre .function,figure.highlight pre .javascript .title,figure.highlight pre .perl .sub,figure.highlight pre .python .decorator,figure.highlight pre .python .title,figure.highlight pre .ruby .function .title,figure.highlight pre .ruby .title .keyword {
    color: #82aaff
}

figure.highlight pre .javascript .function,figure.highlight pre .tag .attr {
    color: #c792ea
}


[data-theme=dark] {
    --font-color: rgba(255,255,255,0.7);
    --hr-border: rgba(255,255,255,0.4);
    --hr-before-color: rgba(255,255,255,0.7);
    --search-bg: #121212;
    --search-input-color: rgba(255,255,255,0.7);
    --search-result-title: rgba(255,255,255,0.9);
    --preloader-bg: #0d0d0d;
    --preloader-color: rgba(255,255,255,0.7);
    --tab-border-color: #2c2c2c;
    --tab-botton-bg: #2c2c2c;
    --tab-botton-color: rgba(255,255,255,0.7);
    --tab-button-hover-bg: #383838;
    --tab-button-active-bg: #121212;
    --card-bg: #121212;
    --sidebar-bg: #121212;
    --btn-hover-color: #787878;
    --btn-color: rgba(255,255,255,0.7);
    --btn-bg: #1f1f1f;
    --text-bg-hover: #383838;
    --light-grey: rgba(255,255,255,0.7);
    --dark-grey: rgba(255,255,255,0.2);
    --white: rgba(255,255,255,0.9);
    --text-highlight-color: rgba(255,255,255,0.9);
    --blockquote-color: rgba(255,255,255,0.7);
    --blockquote-bg: #2c2c2c;
    --reward-pop: #2c2c2c;
    --toc-link-color: rgba(255,255,255,0.6);
    --hl-color: rgba(255,255,255,0.7);
    --hl-bg: #171717;
    --hltools-bg: #1a1a1a;
    --hltools-color: #90a4ae;
    --hlnumber-bg: #171717;
    --hlnumber-color: rgba(255,255,255,0.4);
    --hlscrollbar-bg: #1f1f1f;
    --hlexpand-bg: linear-gradient(180deg, rgba(23,23,23,0.6), rgba(23,23,23,0.9));
    --scrollbar-color: #1f1f1f;
    --timeline-bg: #1f1f1f
}

#catalog-bar {
    border-radius: var(--anzhiyu-border-radius);
    display: flex;
    border: var(--anzhiyu-border-radius);
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center
}

#catalog-bar:hover {
    border-color: var(--anzhiyu-theme)
}

#catalog-bar i {
    line-height: inherit
}

#catalog-list {
    margin: 0 .5rem;
    display: flex;
    white-space: nowrap;
    overflow-x: scroll
}

#catalog-list::-webkit-scrollbar {
    display: none
}

.catalog-list-item a {
    margin: 0rem .2rem;
    font-weight: 700;
    color: var(--font-color);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    padding: .1rem .7rem;
    border-radius: 24px;
    height: 36px;
    line-height: 36px
}

.catalog-list-item {
    display: flex;
    align-items: center
}

.catalog-list-item:hover .notification-tip {
    color: var(--anzhiyu-main)
}

.catalog-list-item .notification-tip {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    margin-left: .25rem;
    border-radius: 50%;
    background-color: var(--anzhiyu-secondbg);
    padding: 10px;
    font-size: .8rem;
    transition: 0s
}

.catalog-list-item.selected a {
    background: var(--anzhiyu-lighttext);
    color: var(--anzhiyu-white)
}

a.catalog-more {
    min-width: fit-content;
    font-weight: 700;
    color: var(--anzhiyu-fontcolor)
}

a.catalog-more:hover {
    color: var(--anzhiyu-theme)
}

#categoryBar {
    width: 100%;
    display: flex;
    margin: 1rem auto 0
}

#category-bar {
    padding: .5rem 1.2rem;
    background: var(--anzhiyu-card-bg);
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    border: var(--style-border);
    width: 100%;
    height: 50px;
    border-radius: 30px;
    transition: all .3s ease 0s
}

#category-bar #catalog-bar {
    margin-bottom: 0;
    overflow-y: hidden;
    margin: -.2rem
}

#category-bar.category-bar:hover {
    border: var(--style-border-hover);
    box-shadow: var(--anzhiyu-shadow-main)
}

#category #category-bar {
    padding: 0;
    border: none
}

#category a.catalog-list-item.select a {
    display: none
}

.catalog-list-item:hover a {
    background: var(--anzhiyu-main);
    color: var(--anzhiyu-white)
}

.catalog-list-item.select a {
    background: var(--anzhiyu-main);
    color: var(--anzhiyu-white);
    border-radius: 30px
}

.catalog-list-item.selected .notification-tip {
    color: var(--font-color)
}

.category-bar-more {
    margin-left: 1rem;
    font-weight: 700
}

[data-theme=dark] #category-bar.category-bar {
    background: var(--anzhiyu-background)
}

@media screen and (max-width: 100px) {
    #categoryBar {
        margin-bottom:0;
        position: -webkit-sticky;
        position: sticky;
        top: 58px;
        z-index: 2;
        align-items: center
    }

    #category-bar.category-bar {
        width: 100%
    }

    #category-bar.category-bar {
        background: var(--anzhiyu-background)
    }

    #category-bar {
        border: none;
        border-radius: 0
    }
}
